<div id="container">

  <h1>Exercício 01:</h1>

  <p>Implemente um componente personalizado utilizando ControlValueAccessor. Em seguida, crie um formulário reativo e um
    formulário template-driven, utilizando seu componente com as diretivas formControl, formControlName e ngModel.</p>

  <h1>Exercício 02:</h1>

  <p>O seguinte componente, mesmo implementando o CVA, não funciona com formulários template-driven. Como fazé-lo
    funcionar?</p>

  <p>Valor do formulário reativo: {{ reactiveFormExerciseTwo.value | json }}</p>

  <form [formGroup]="reactiveFormExerciseTwo">
    <ef-exercise-two [formControl]="reactiveFormExerciseTwo.controls.input" />
  </form>


  <p>Valor do formulário template-driven: {{ templateFormExerciseOne.value | json }}</p>

  <form #templateFormExerciseOne="ngForm">
    <!--  <ef-exercise-one name="input" ngModel />-->
  </form>
</div>

